include LICENSE
include README.md
include CHANGELOG.md
include requirements.in
recursive-include bin *
recursive-include config *
recursive-include docs *
recursive-include pkg *
recursive-include resources *